@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.headtext{
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}
.basketIcon:hover path, .likeIcon:hover path{
  fill:black;
}
.basketBlock{
  position: relative;
}
.part{
  position: absolute;
  top:-12px;
}
.basketIcon{
  z-index: 0;
}
.numProd{
  z-index: 1;
  left: 18px;
  top: -15px;
}